# Gradle

.gradle/
build/
out/
classes/

# Java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Kotlin

.kotlin

# Minecraft

run/

# Eclipse

*.launch

# IDEA

.idea/
*.iml
*.ipr
*.iws

# VS Code

.settings/
.vscode/
bin/
.classpath
.project

# MacOS

*.DS_Store
